*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

button {
  background-color: rgba(0, 0, 0, 0);
  border: none; }

@font-face {
  src: url(../../fonts/circular-black.woff2);
  font-family: circular-black; }

@font-face {
  src: url(../../fonts/circular-bold.woff2);
  font-family: circular-bold; }

@font-face {
  src: url(../../fonts/circular-medium.woff2);
  font-family: circular-medium; }

@font-face {
  src: url(../../fonts/circular-book.woff2);
  font-family: circular-book; }

@font-face {
  src: url(../../fonts/circular-light.woff2);
  font-family: circular-light; }

.paragraph {
  color: white;
  font-family: circular-book, Helvetica, sans-serif;
  display: inline-block;
  line-height: 1.1;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0); }
  .paragraph:hover {
    border-bottom: 1px solid white; }

.heading-primary {
  color: white;
  font-size: 2.8rem;
  font-family: circular-black, Helvetica, sans-serif;
  padding: 0; }

.heading-secondary {
  color: white;
  font-family: circular-bold, Helvetica, sans-serif;
  font-size: 1.5rem; }

.heading-tertiary {
  color: white;
  font-size: 1.2rem;
  font-family: circular-medium, Helvetica, sans-serif; }

.menu {
  height: 100vh;
  width: 110px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #040306;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px; }
  .menu img {
    width: 55px;
    cursor: pointer;
    margin-top: 9px;
    margin-bottom: 70px; }
  .menu ul {
    width: 100%; }
  .menu li {
    text-align: center;
    padding: 12px 0;
    transition: 0.3s;
    cursor: pointer;
    border-left: 5px solid rgba(1, 1, 1, 0); }
    .menu li:hover {
      background-color: #181818;
      border-left: 5px solid #1db954; }
      .menu li:hover svg {
        fill: white; }
      .menu li:hover p {
        color: white; }
  .menu p {
    color: #9b9b9b;
    font-family: circular-light, Helvetica, sans-serif;
    display: block;
    font-size: 0.71rem; }
  .menu svg {
    width: 20px;
    margin-bottom: 1.5px;
    fill: #9b9b9b; }
  .menu .active {
    background-color: #181818;
    border-left: 5px solid #1db954; }
    .menu .active svg {
      fill: white; }
    .menu .active p {
      color: white; }

.btn-primary {
  color: white;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: circular-book, Helvetica, sans-serif;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid white;
  padding: 12px 30px; }
  .btn-primary:hover {
    background-color: white;
    color: #181818; }

.btn-secondary {
  color: white;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: circular-book, Helvetica, sans-serif;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #1db954;
  display: inline-block;
  padding: 10px 25px; }
  .btn-secondary:hover {
    background-color: #1ed760;
    color: white; }

.toggle-btns .btn-container {
  display: inline-block; }
  .toggle-btns .btn-container:not(:last-of-type) {
    margin-right: 20px; }
  .toggle-btns .btn-container button {
    color: #9b9b9b;
    cursor: pointer;
    transition: 0.3s; }
    .toggle-btns .btn-container button:hover {
      color: white; }
  .toggle-btns .btn-container .btn-active {
    color: white;
    border-bottom: 1px solid white; }

.info-icon {
  fill: white;
  height: 25px;
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.loader {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.rectangle {
  background-color: #9b9b9b;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  margin-right: 5px; }

.rect-1 {
  animation: stretch 1s linear infinite;
  transform-origin: bottom; }

.rect-2 {
  animation: stretch 1s linear infinite;
  animation-delay: 0.25s;
  transform-origin: bottom; }

.rect-3 {
  animation: stretch 1s linear infinite;
  transform-origin: bottom; }

.rect-4 {
  animation: stretch 1s linear infinite;
  animation-delay: 0.5s;
  transform-origin: bottom; }

.rect-5 {
  animation: stretch 1s linear infinite;
  animation-delay: 0.75s;
  transform-origin: bottom; }

@keyframes stretch {
  50% {
    transform: scaleY(6); }
  100% {
    transform: scaleY(1); } }

.row {
  margin-top: 30px; }
  .row a {
    display: flex;
    width: 100%;
    align-items: center; }
  .row__img {
    position: relative;
    display: inline-block;
    background-color: black;
    margin-right: 15px; }
    .row__img img {
      display: block;
      transition: 0.3s;
      object-fit: cover;
      width: 50px;
      height: 50px;
      opacity: 1; }
  .row__track-info {
    flex: 1;
    min-width: 0;
    margin-right: 10px; }
    .row__track-info p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%; }
    .row__track-info__more-info {
      margin-top: 2px;
      color: #9b9b9b;
      font-family: circular-book, Helvetica, sans-serif;
      font-size: 0.85rem; }
  .row__track-duration {
    color: #9b9b9b;
    font-family: circular-book, Helvetica, sans-serif;
    font-size: 0.85rem; }
  .row:hover .info-icon {
    opacity: 100; }
  .row:hover img {
    opacity: 0.3; }

.user-icon {
  border: 2px solid white;
  border-radius: 100%;
  padding: 30px;
  overflow: visible;
  fill: white; }

.home {
  display: flex;
  background-color: #181818; }
  .home__dashboard {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    padding: 85px 80px; }

.login-page {
  background-color: #181818;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .login-page .contents {
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login-page .contents h1 {
      margin-bottom: 25px;
      font-size: 2rem; }
    .login-page .contents .btn-secondary {
      font-size: 1.1rem;
      padding: 15px 40px; }

.profile__header {
  text-align: center; }
  .profile__header .user-icon {
    margin-bottom: 18px;
    width: 150px; }
  .profile__header .heading-primary {
    margin-bottom: 20px; }
  .profile__header__username {
    color: white;
    transition: 0.2s; }
    .profile__header__username:hover {
      color: #1db954; }
  .profile__header__account-stats {
    display: inline-block; }
    .profile__header__account-stats .stats {
      display: flex;
      align-items: center; }
      .profile__header__account-stats .stats .stat span {
        font-family: circular-medium, Helvetica, sans-serif;
        color: #1db954;
        font-size: 1.1rem;
        margin-bottom: 3px;
        display: block; }
      .profile__header__account-stats .stats .stat p {
        color: #9b9b9b;
        font-family: circular-book, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 1px; }
      .profile__header__account-stats .stats .stat:not(:last-of-type) {
        margin-right: 35px; }
  .profile__header .logout {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 85px; }

.profile__body {
  display: flex;
  justify-content: center; }
  .profile__body__header {
    display: flex;
    align-items: center; }
  .profile__body .body-btn {
    padding: 10px 22px; }
  .profile__body .heading-tertiary {
    flex: 1; }
  .profile__body .row:first-child {
    margin-top: 40px; }
  .profile__body__top-artists {
    margin-right: 45px;
    width: 45%; }
    .profile__body__top-artists .row__img {
      border-radius: 50%; }
      .profile__body__top-artists .row__img img {
        border-radius: 50%; }
  .profile__body__top-tracks {
    margin-left: 45px;
    width: 45%; }

.playlist {
  display: flex; }
  .playlist__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px; }
    .playlist__left__features {
      margin-top: 15px;
      height: 350px;
      width: 350px; }
    .playlist__left .playlist-img {
      width: 300px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px; }
    .playlist__left .playlist-name {
      margin-top: 20px;
      font-size: 1.8rem; }
    .playlist__left .owner-name {
      color: #9b9b9b;
      font-family: circular-book, Helvetica, sans-serif;
      font-size: 0.9rem;
      margin-top: 5px; }
    .playlist__left .track-count {
      color: white;
      font-family: circular-book, Helvetica, sans-serif;
      font-size: 0.9rem;
      margin-top: 10px; }
    .playlist__left .btn-secondary {
      margin-top: 25px; }
    .playlist__left .audio-features-header {
      margin-top: 45px;
      font-size: 1.2rem; }
  .playlist__right {
    width: 100%; }
    .playlist__right .row:first-child {
      margin: 0; }

.heading-playlists {
  margin-bottom: 30px; }

.playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  justify-content: center; }
  .playlists .playlist {
    width: 210px; }
    .playlists .playlist__img-container {
      position: relative;
      width: 210px;
      height: 210px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px; }
      .playlists .playlist__img-container:hover .overlay {
        opacity: 0.5; }
    .playlists .playlist a {
      cursor: default;
      text-align: center; }
      .playlists .playlist a img {
        max-width: 100%;
        max-height: 100%; }
      .playlists .playlist a .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        transition: 0.3s; }
    .playlists .playlist__name {
      margin-top: 15px;
      margin-bottom: 5px;
      border-bottom: none;
      cursor: pointer; }
      .playlists .playlist__name:hover {
        text-decoration: underline; }
    .playlists .playlist__track-count {
      color: #9b9b9b;
      font-family: circular-book, Helvetica, sans-serif;
      font-size: 0.8rem; }

.top-header {
  display: flex;
  align-items: center; }
  .top-header h1 {
    flex: 1; }

.top-artists__artists {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 50px; }
  .top-artists__artists li {
    width: 200px; }
    .top-artists__artists li .img-container {
      position: relative; }
    .top-artists__artists li .artist-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      transition: 0.3s; }
    .top-artists__artists li .user-icon {
      width: 200px;
      height: 200px; }
    .top-artists__artists li .name-container {
      text-align: center;
      display: block;
      margin-top: 20px; }
    .top-artists__artists li:hover .info-icon {
      opacity: 1; }
    .top-artists__artists li:hover .artist-image {
      opacity: 0.4; }

.artist-page {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .artist-page__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    object-fit: cover; }
  .artist-page__user-icon {
    width: 250px;
    height: 250px; }
    .artist-page__user-icon svg {
      width: 100%;
      height: 100%; }
  .artist-page .heading-primary {
    margin-top: 32px;
    margin-bottom: 20px;
    font-size: 4.3rem; }
  .artist-page__stats {
    display: flex; }
    .artist-page__stats__group {
      text-align: center;
      margin-right: 40px; }
    .artist-page__stats__header {
      text-transform: uppercase;
      color: #9b9b9b;
      font-family: circular-light, Helvetica, sans-serif;
      font-size: 0.75rem;
      letter-spacing: 1px; }
    .artist-page__stats__stat {
      color: #509bf5;
      font-family: circular-medium, Helvetica, sans-serif;
      text-transform: capitalize;
      font-size: 1.35rem; }
    .artist-page__stats .genre {
      font-size: 1.2rem; }

.track-page__general-info {
  display: flex; }
  .track-page__general-info img {
    width: 250px; }
  .track-page__general-info__info {
    margin-left: 40px; }
    .track-page__general-info__info .heading-primary {
      font-size: 2.5rem; }
    .track-page__general-info__info .track-artist-name {
      color: #b3b3b3;
      font-family: circular-book, Helvetica, sans-serif;
      font-size: 1.5rem; }
    .track-page__general-info__info .track-album-info {
      color: #9b9b9b;
      font-family: circular-light, Helvetica, sans-serif;
      font-size: 1rem;
      margin-top: 5px; }
    .track-page__general-info__info .btn-secondary {
      margin-top: 30px; }

.track-page__analysis {
  margin-top: 75px; }
  .track-page__analysis__table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040; }
    .track-page__analysis__table .table-data {
      width: 100%;
      text-align: center;
      color: #b3b3b3;
      padding: 20px;
      border-top: 1px solid #404040;
      border-right: 1px solid #404040; }
    .track-page__analysis__table__track-data {
      font-family: circular-bold, Helvetica, sans-serif;
      font-size: 1.7rem;
      line-height: 1.2; }
    .track-page__analysis__table__label {
      font-family: circular-light, Helvetica, sans-serif;
      font-size: 0.8rem;
      line-height: 1.2; }

.track-page__feature-chart {
  width: 90%;
  max-width: 675px;
  margin: auto; }

@media (max-width: 770px) {
  .home {
    display: block; }
    .home__dashboard {
      padding: 55px 40px;
      padding-bottom: 120px; }
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    z-index: 100;
    padding: 0; }
    .menu .spotify-logo {
      display: none; }
    .menu .menu-pages {
      display: flex; }
      .menu .menu-pages a {
        flex: 1; }
      .menu .menu-pages li {
        height: 100%;
        border-top: 4px solid rgba(1, 1, 1, 0);
        border-left: none; }
        .menu .menu-pages li:hover {
          border-top: 4px solid #1db954; }
      .menu .menu-pages .active {
        border-top: 4px solid #1db954; }
  .profile__header__username {
    font-size: 2.3rem; }
  .profile__header .logout {
    margin-bottom: 65px; }
  .profile__body {
    display: block; }
    .profile__body__top-artists {
      width: 100%;
      margin-bottom: 55px; }
    .profile__body__top-tracks {
      width: 100%;
      margin-left: 0; }
  .top-header {
    flex-direction: column;
    width: 100%; }
    .top-header h1 {
      margin-bottom: 35px; }
  .top-artists li {
    width: 150px; }
    .top-artists li .artist-image {
      width: 150px;
      height: 150px; }
    .top-artists li .user-icon {
      width: 150px;
      height: 150px; }
  .toggle-btns {
    display: flex;
    width: 100%;
    justify-content: center; }
    .toggle-btns .btn-container {
      flex: 1;
      margin-right: 0 !important;
      text-align: center; }
  .artist-page__image {
    margin-top: 60px;
    width: 200px;
    height: 200px; }
  .artist-page .heading-primary {
    font-size: 3.1rem; }
  .track-page__general-info img {
    width: 200px; }
  .track-page__general-info .heading-primary {
    font-size: 1.8rem; }
  .track-page__general-info .track-artist-name {
    font-size: 1.2rem; }
  .track-page__analysis__table__track-data {
    font-size: 1.5rem; } }

@media (max-width: 400px) {
  .home__dashboard {
    padding: 35px 25px;
    padding-bottom: 120px; }
  .profile__header__username {
    font-size: 2rem; }
  .profile .heading-tertiary {
    font-size: 1.1rem; }
  .profile .body-btn {
    padding: 7px 17px; }
  .top-artists li {
    width: 120px; }
    .top-artists li .artist-image {
      width: 120px;
      height: 120px; }
    .top-artists li .user-icon {
      width: 120px;
      height: 120px; }
  .toggle-btns button {
    font-size: 0.8rem; } }

@media (max-width: 525px) {
  .artist-page__image {
    margin-top: 50px; }
  .artist-page .heading-primary {
    font-size: 2.4rem;
    text-align: center; }
  .artist-page__stats {
    gap: 15px; }
    .artist-page__stats__group {
      margin-right: 0; }
    .artist-page__stats__stat {
      font-size: 1.1rem !important; }
  .track-page__general-info {
    flex-direction: column;
    align-items: center; }
    .track-page__general-info__info {
      margin-left: 0;
      text-align: center; }
      .track-page__general-info__info .heading-primary {
        margin-top: 25px; }
  .track-page__analysis {
    margin-top: 50px; }
  .track-page__feature-chart {
    width: 100%; } }

@media (max-width: 600px) {
  .track-page__analysis__table {
    grid-template-columns: repeat(2, minmax(100px, 1fr)); } }
