// 770px
@media (max-width: 770px) {

    // Home
    .home {
        display: block;

        &__dashboard {
            padding: 55px 40px;
            padding-bottom: 120px;
        }
    }

    // Menu
    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 70px;
        z-index: 100;
        padding: 0;

        .spotify-logo {
            display: none;
        }

        .menu-pages {
            display: flex;

            a {
                flex: 1;
            }

            li {
                height: 100%;
                border-top: 4px solid rgba(1,1,1,0);
                border-left: none;

                &:hover {
                    border-top: 4px solid $spotify-green;
                }
            }

            .active {
                border-top: 4px solid $spotify-green;
            }
        }
    }

    // Profile
    .profile {
        &__header {
            &__username {
                font-size: 2.3rem;
            }

            .logout {
                margin-bottom: 65px;
            }
        }

        &__body {
            display: block;

            &__top-artists {
                width: 100%;
                margin-bottom: 55px;
            }

            &__top-tracks {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    // Top Artists/Tracks Header
    .top-header {
        flex-direction: column;
        width: 100%;

        h1 {
            margin-bottom: 35px;
        }
    }

    // Top Artists
    .top-artists {
        li {
            width: 150px;

            .artist-image {
                width: 150px;
                height: 150px;
            }

            .user-icon {
                width: 150px;
                height: 150px;
            }
        }
    }

    // Toggle Buttons
    .toggle-btns {
        display: flex;
        width: 100%;
        justify-content: center;

        .btn-container {
            flex: 1;
            margin-right: 0 !important;
            text-align: center;
        }
    }

    // Artist 
    .artist-page {
        &__image {
            margin-top: 60px;
            width: 200px;
            height: 200px;
        }

        .heading-primary {
            font-size: 3.1rem;
        }
    }

    // Track
    .track-page {
        &__general-info {
            img {
                width: 200px;
            }

            .heading-primary {
                font-size: 1.8rem;
            }

            .track-artist-name {
                font-size: 1.2rem;
            }
        }

        &__analysis {
            &__table {
                &__track-data {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

// 400px
@media (max-width: 400px) {

    // Home
    .home {
        &__dashboard {
            padding: 35px 25px;
            padding-bottom: 120px;
        }
    }

    // Profile
    .profile {
        &__header {
            &__username {
                font-size: 2rem;
            }
        }

        .heading-tertiary {
            font-size: 1.1rem;
        }

        .body-btn {
            padding: 7px 17px;
        }
    }

    // Top Artists
    .top-artists {
        li {
            width: 120px;

            .artist-image {
                width: 120px;
                height: 120px;
            }

            .user-icon {
                width: 120px;
                height: 120px;
            }
        }
    }

    // Toggle Buttons
    .toggle-btns {

        button {
            font-size: 0.8rem;
        }
    }
}

// 525px
@media (max-width: 525px) {
    // Artist 
    .artist-page {
        &__image {
            margin-top: 50px;
        }

        .heading-primary {
            font-size: 2.4rem;
            text-align: center;
        }

        &__stats {
            gap: 15px;

            &__group {
                margin-right: 0;
            }

            &__stat {
                font-size: 1.1rem !important;
            }
        }
    }

    // Track
    .track-page {
        &__general-info {
            flex-direction: column;
            align-items: center;

            &__info {
                margin-left: 0;
                text-align: center;

                .heading-primary {
                    margin-top: 25px;
                }
            }
        }

        &__analysis {
            margin-top: 50px;
        }

        &__feature-chart {
            width: 100%;
        }
    }
}

// 600px 
@media (max-width: 600px) {

    // Track
    .track-page {
        &__analysis {
            &__table {
                grid-template-columns: repeat(2, minmax(100px, 1fr));
            }
        }
    }
}