@font-face {
    src: url(../../fonts/circular-black.woff2);
    font-family: circular-black;
    
}
@font-face {
    src: url(../../fonts/circular-bold.woff2);
    font-family: circular-bold;
    
}
@font-face {
    src: url(../../fonts/circular-medium.woff2);
    font-family: circular-medium;
    
}
@font-face {
    src: url(../../fonts/circular-book.woff2);
    font-family: circular-book;
    
}
@font-face {
    src: url(../../fonts/circular-light.woff2);
    font-family: circular-light;
    
}

.heading-primary {
    font-size: 2.8rem;
    font-family: circular-black, $back-up-fonts;
    padding: 0;
}

.heading-tertiary {
    color: white;
    font-size: 1.2rem;
    font-family: circular-medium, $back-up-fonts;
}