@font-face {
    src: url(../../fonts/circular-black.woff2);
    font-family: circular-black;
    
}
@font-face {
    src: url(../../fonts/circular-bold.woff2);
    font-family: circular-bold;
    
}
@font-face {
    src: url(../../fonts/circular-medium.woff2);
    font-family: circular-medium;
    
}
@font-face {
    src: url(../../fonts/circular-book.woff2);
    font-family: circular-book;
    
}
@font-face {
    src: url(../../fonts/circular-light.woff2);
    font-family: circular-light;
    
}

.heading-primary {
    font-size: 2rem;
}