.home {
    display: flex;
    background-color: $dark-grey;

    // Dashboard
    &__dashboard {
        width: 100%;
        height: 100vh;
        overflow: scroll;
        padding: 85px 80px;
    }
}