.profile {
    // Header
    &__header {
        text-align: center;

        &__user-icon {
            width: 150px;
            border: 2px solid white;
            border-radius: 100%;
            padding: 30px;
            overflow: visible;
            margin-top: 82px;
            margin-bottom: 18px;
            fill: white;
        }

        .heading-primary {
            margin-bottom: 20px;
        }

        &__username {
            color: white;
            transition: 0.2s;

            &:hover {
                color: $spotify-green;
            }
        }

        &__account-stats {
            display: inline-block;

            .stats {
                display: flex;
                align-items: center;

                .stat {
                    span {
                        font-family: circular-medium, $back-up-fonts;
                        color: $spotify-green;
                        font-size: 1.1rem;
                        margin-bottom: 3px;
                        display: block;
                    }

                    p {
                        color: $light-grey;
                        font-family: circular-book, $back-up-fonts;
                        text-transform: uppercase;
                        font-size: 0.75rem;
                        letter-spacing: 1px;
                    }

                    &:not(:last-of-type) {
                       margin-right: 35px;
                    }
                }
            }
        }

        .logout {
            display: block;
            margin: 0 auto;
            margin-top: 35px;
            margin-bottom: 85px;
        }
    }

    // Body
    &__body {
        display: flex;
        justify-content: center;
        padding-bottom: 110px;

        // Headers
        &__header {
            display: flex;
            align-items: center;
        }

        .body-btn {
            padding: 10px 22px;
        }

        .heading-tertiary {
            flex: 1;
        }

        .row:first-child {
            margin-top: 40px
        }

        // Top artists
        &__top-artists {
            margin-right: 45px;
            width: 40%;

            // Arists list
            .row__img {
                border-radius: 50%;

                img {
                    border-radius: 50%;
                }
            }
        }

        // Top tracks
        &__top-tracks {
            margin-left: 45px;
            width: 40%;
        }
    }
}