$light-grey: rgb(155, 155, 155);
$light-grey-2: rgb(179, 179,  179);
$dark-grey: rgb(24, 24, 24);
$spotify-green: rgb(29, 185, 84);
$spotify-green-light: rgb(30, 215, 96);
$color-primary: white;
$spotify-blue: rgb(80, 155, 245);

$back-up-fonts: Helvetica, sans-serif;