.btn-primary {
    @include btn($color-primary, $color-primary, $dark-grey);
    border: 1px solid $color-primary;
    padding: 12px 30px;
}

.btn-secondary {
    @include btn($color-primary, $spotify-green-light, $color-primary);
    background-color: $spotify-green;
    display: inline-block;
    padding: 10px 25px;
}

.toggle-btns {

    .btn-container {
        display: inline-block;
        
        &:not(:last-of-type) {
            margin-right: 20px;
        }

        button {
            color: $light-grey;
            cursor: pointer;
            transition: 0.3s;
    
            &:hover {
                color: $color-primary;
            }
        }

        .btn-active {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
        }
    }
}