.menu {
    height: 100vh;
    width: 110px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: rgb(4, 3, 6);
    box-shadow: rgba(0,0,0, 0.3) 0px 0px 10px;

    img {
        width: 55px;
        cursor: pointer;
        margin-top: 9px;
        margin-bottom: 70px;
    }

    ul {
        width: 100%;
    }

    li {
        text-align: center;
        padding: 12px 0;
        transition: 0.3s;
        cursor: pointer;
        border-left: 5px solid rgba(1,1,1,0);

        &:hover {
            background-color: $dark-grey;
            border-left: 5px solid $spotify-green;

            svg {
                fill: white;
            }
    
            p {
                color: white;
            }
        }

    }

    p {
        color: $light-grey;
        font-family: circular-light, $back-up-fonts;
        display: block;
        font-size: 0.71rem;
    }

    svg {
        width: 20px;
        margin-bottom: 1.5px;
        fill: $light-grey;
    }

    .active {
        background-color: $dark-grey;
        border-left: 5px solid $spotify-green;

        svg {
            fill: white;
        }

        p {
            color: white;
        }
    }
}