.row {
    margin-top: 30px;

    a {
        display: flex;
        width: 100%;
        align-items: center;
    }

    &__img {
        position: relative;
        display: inline-block;
        background-color: black;
        margin-right: 15px;

        img {
            display: block;
            transition: 0.3s;
            object-fit: cover;
            width: 50px;
            height: 50px;
            opacity: 1;
        }
    }

    // Row info (for tracks)
    &__track-info {
        flex: 1;
        min-width: 0;
        margin-right: 10px;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        &__more-info {
            margin-top: 2px;
            color: $light-grey;
            font-family: circular-book, $back-up-fonts;
            font-size: 0.85rem;
        }
    }

    // Track duration
    &__track-duration {
        color: $light-grey;
        font-family: circular-book, $back-up-fonts;
        font-size: 0.85rem;
    }

    // Hover
    &:hover .info-icon {
        opacity: 100;
    }
    
    &:hover img {
        opacity: 0.3;
    }
}